<section class="stats">

  <div class="card">
    <span>🚌</span>
    <strong>310</strong>
    <p>Buses</p>
  </div>

  <div class="card">
    <span>🛣️</span>
    <strong>22</strong>
    <p>Rutas</p>
  </div>

  <div class="card normal">
    <span>🟢</span>
    <strong>{{ normales }}</strong>
    <p>Normal</p>
  </div>

  <div class="card warning">
    <span>🟠</span>
    <strong>{{ bunching }}</strong>
    <p>Bunching</p>
  </div>

  <div class="card danger">
    <span>🔴</span>
    <strong>{{ huecos }}</strong>
    <p>Huecos</p>
  </div>

</section>